

@property --wb--primary-color {
	syntax: "<color>";
	inherits: true;
	initial-value: none;
}
@property --wb--on-primary-color {
	syntax: "<color>";
	inherits: true;
	initial-value: none;
}


@property --wb--secondary-color {
	syntax: "<color>";
	inherits: true;
	initial-value: none;
}
@property --wb--on-secondary-color {
	syntax: "<color>";
	inherits: true;
	initial-value: none;
}


@property --wb--positive-color {
	syntax: "<color>";
	inherits: true;
	initial-value: none;
}
@property --wb--on-positive-color {
	syntax: "<color>";
	inherits: true;
	initial-value: none;
}


@property --wb--negative-color {
	syntax: "<color>";
	inherits: true;
	initial-value: none;
}
@property --wb--on-negative-color {
	syntax: "<color>";
	inherits: true;
	initial-value: none;
}


@property --wb--warning-color {
	syntax: "<color>";
	inherits: true;
	initial-value: none;
}
@property --wb--on-warning-color {
	syntax: "<color>";
	inherits: true;
	initial-value: none;
}


@property --wb--surface-color {
	syntax: "<color>";
	inherits: true;
	initial-value: none;
}
@property --wb--on-surface-color {
	syntax: "<color>";
	inherits: true;
	initial-value: none;
}




@property --wb--local-bg-color {
	syntax: "<color>";
	inherits: true;
	initial-value: none;
}
@property --wb--local-fg-color {
	syntax: "<color>";
	inherits: true;
	initial-value: none;
}





:root{
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "slnt" 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	scroll-behavior: smooth;
}




.--wb--horizontal-separator {
	width: 100%;
	height: 1px;
	background-color: rgba(from var(--wb--local-fg-color) r g b / 0.15);
}
.--wb--vertical-separator {
	width: 1px;
	height: 100%;
	background-color: rgba(from var(--wb--local-fg-color) r g b / 0.15);
}



.--wb--flex-space{
	flex: 1 1 auto;
}



.--wb--label {
	pointer-events: none;
	user-select: none;
}
.--wb--not-interactable {
	pointer-events: none;
}
.--wb--not-selectable {
	user-select: none;
}






.--wb--surface{
	--wb--local-bg-color: var(--wb--surface-color);
	--wb--local-fg-color: var(--wb--on-surface-color);

	background-color: var(--wb--local-bg-color);
	color: var(--wb--local-fg-color);
}
.--wb--surface .--wb--surface{
	--wb--local-bg-color: hsl(from var(--wb--surface-color) h s calc(l - 10));
}
.--wb--surface .--wb--surface .--wb--surface{
	--wb--local-bg-color: hsl(from var(--wb--surface-color) h s calc(l - 0));
}
.--wb--surface .--wb--surface .--wb--surface .--wb--surface{
	--wb--local-bg-color: hsl(from var(--wb--surface-color) h s calc(l - 25));
}



